@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
:root{
    --main-background-color:#FFB084;
    --background-white:#FFFFFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    --color-green: #29A71E;
    --color-red: #E13535;
    --color-blue: #3675B0;
}
.container{
    background-color: var(--main-background-color);
    width:80%;
    /* height: 459px; */
    margin: 0 auto;
    display: grid;
    /* gap: 14px 22px; */
    /* grid-auto-columns: auto; */
    grid-template-columns: 1.5fr 1fr 1fr;
    /* grid-auto-rows: 1fr 1fr 1fr 0.4fr; */
    border-radius: 20px;
    padding: 25px;
}
.container > div{
background-color: var(--background-white);
border-radius: 20px;
margin: 10px;
padding-left: 20px;
}
/* Section 1 */
.info-bold{
    font-weight: 600;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 87%;
}
.info{
    grid-row: 1/4;
    min-height: 85%;
    box-shadow: 7px 8px 0px black;
}
.info__img{
    display: block;
    margin: 0 auto;
    padding: 0;
}
/* other sections */
.add-info{
    font-size: 1.17rem;
}
.bold{
    font-weight: 700;
}
/* Srection 2 */
.bio{
    grid-column: 2/4;
    box-shadow: 7px 8px 0px black;
}
.green{
    color: var(--color-green);  
}
.goals{
    box-shadow: 7px 8px 0px var(--color-green);
}
.frustration{
    grid-row: 2/4;
    grid-column: 3;
    box-shadow: 7px 8px 0px var(--color-red);
}
.red{
    color: var(--color-red);
}
.dream {
    grid-row: 3/5;
    box-shadow: 7px 8px 0px var(--color-blue);
}
.blue{
    color:var(--color-blue);
}
.personality{
    grid-column: 3;
    box-shadow: 7px 8px 0px black;
}
.text{
    grid-column: 1;
    grid-row: 4;
    height: 60%;
    box-shadow: 7px 8px 0px black;
    padding-right: 3%;
}